snippet intc "Basic interactor"
class ${1:Something}
	include Interactor

	def call
		${0:${VISUAL}}
	end
end
endsnipppet

snippet intb "Action module"
module Action
	extend ActiveSupport::Concern

	included do |_base|
		include Interactor
	end
	$0
end
endsnippet

snippet inta "Action"
class ${1:Action}
	include Action

	expects $2
	${3:allows $4}
	promises $5

	def call
		${0:${VISUAL}}
	end
end
endsnippet
