snippet spec
require '${1:spec_helper}'

describe ${2:Klass} do
	${0:${VISUAL}}
end
endsnippet

snippet describe
describe ${1:Klass} do
	$0
end
endsnippet

snippet context
context ${1:'on success'} do
	${2:${VISUAL}}
end
endsnippet

snippet vcrc
vcr: {cassette_name: ${1:"${2:actions}/#{described_class}"}$0
endsnippet

snippet it
it ${1:'does something'} do
	${2:${VISUAL}}
end
endsnippet

snippet expect
expect {
	${1:${VISUAL}}
}.to $2
endsnippet

snippet expecti
expect { ${1:${VISUAL}} }.to $2
endsnippet

snippet bko
be_kind_of(${1:Klass})$0
endsnippet

snippet let
let(${1::object}) { $2 }$0
endsnippet

snippet letb
let(${1::object}) do
	${2:${VISUAL}}
end
endsnippet
