snippet tom "Tomdoc"
# ${1:Public}: ${2:About}.
#
# $3
#
# Examples
#
# 	$4
#
# Returns ${5:nothing}.
endsnippet

snippet toma "Tomdoc - Arg"
# ${1:arg} - ${2:description}${3:(default: $4)}).
endsnippet
