snippet tom "Tomdoc"
# ${1:Public}: ${2:About}.
#
# ${3:toma }
#
# Examples
#
#   $0
#
# Returns ${4:nothing}.
endsnippet

snippet toma "Tomdoc - Arg"
${1:arg} - ${2:description}${3:(default: $4)}).
endsnippet

snippet tomah "Tomdoc - Hash Arg"
${1:arg} - ${2:description}${3:(default: $4)}):
#           ${4::arg} - ${5:description}.
endsnippet
